@import '~iview/src/styles/index.less';
@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;
@font-size-small: 14px;
@btn-font-size: 14px;
@tag-font-size: 14px;
@table-td-hover-bg: #bfe9ff;
@table-td-highlight-bg: #bfe9ff;
.ivu-table-small{
  font-size: 12px;
}
.table-modal-detail{
  max-height: 100%;
  .ivu-modal-mask{
    position: absolute;
  }
  .ivu-modal-wrap{
    position: absolute;
    height: 100%;
    .ivu-modal{
      height: 90%;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      .ivu-modal-content{
        overflow: hidden;
        height: 100%;
        .ivu-modal-close{
          z-index: 6;
        }
        .ivu-modal-header{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          background-color: white;
          z-index: 5;
        }
        .ivu-modal-body{
          height: 100%;
          overflow: auto;
          padding-top: 60px;
          padding-bottom: 60px;
          position: relative;
        }
        // .ivu-modal-body:after {
        //   content: "";
        //   height: 60px;
        //   display: block;
        // }
        .ivu-modal-footer{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: white;
          z-index: 5;
        }
      }
    }
  }
}

.modal-tabs{
  height: 100%;
  .ivu-tabs-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .ivu-tabs-content{
    height: 100%;
    padding-top: 40px;
    .ivu-tabs-tabpane{
      overflow: auto;
    }
  }
}

.detail-form{
  .ivu-form-item{
    width: 250px;
    .ivu-form-item-content>*{
      width: 100%;
      min-width: auto!important;
    }
  }
}

.search-block {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin: 0 10px 10px 0;
}

.common-form {
  .ivu-form-item{
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin: 0 20px 20px 0;
    position: relative;
    .ivu-form-item-label{
      float: none;
      padding: 0 15px 0 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .ivu-form-item-content{
      .ivu-form-item-error-tip{
        padding: 0;
      }
    }
  }
}

