@import '~iview/src/styles/index.less';
@import './styles/index.less';
@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;
//@font-size-small: 14px;
//@btn-font-size: 14px;
//@tag-font-size: 14px;
@table-td-hover-bg: #bfe9ff;
@table-td-highlight-bg: #bfe9ff;
.ivu-table-small{
  font-size: 12px;
}
.ivu-collapse-header .ivu-icon{
  float:right;
  line-height:3;
}
.table-modal-detail{
  max-height: 100%;
  .ivu-modal-mask{
    position: absolute;
  }
  .ivu-modal-wrap{
    position: absolute;
    height: 100%;
    .ivu-modal{
      height: 98%;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      .ivu-modal-content{
        overflow: hidden;
        height: 100%;
        .ivu-modal-close{
          z-index: 6;
        }
        .ivu-modal-header{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          background-color: white;
          z-index: 5;
        }
        .ivu-modal-body{
          height: 100%;
          overflow: auto;
          padding-top: 60px;
          padding-bottom: 60px;
          position: relative;
          .status{
            font-size: 12px;
            text-align: right;
            color: red;
            position: absolute;
            left: 80px;
            top: 14px;
            z-index: 9;
          }
        }
        // .ivu-modal-body:after {
        //   content: "";
        //   height: 60px;
        //   display: block;
        // }
        .ivu-modal-footer{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: white;
          z-index: 5;
        }
      }
    }
  }
}

.full-height{
  .ivu-modal-wrap{
    .ivu-modal{
      height: 100%;
      .ivu-modal-header{
        padding: 0;
      }
    }
  }
}

.modal-tabs{
  height: 100%;
  .ivu-tabs-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .ivu-tabs-content{
    height: 100%;
    padding-top: 40px;
    .ivu-tabs-tabpane{
      overflow: auto;
    }
  }
}

.detail-form{
  .ivu-form-item{
    width: 250px;
    .ivu-form-item-content>*{
      width: 100%;
      min-width: auto!important;
    }
  }
}

.search-block {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin: 0 10px 10px 0;
}

.common-form {
  .ivu-form-item{
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin: 0 20px 15px 0;
    position: relative;
    .ivu-form-item-label{
      float: none;
      padding: 0 15px 0 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .ivu-form-item-content{
      .ivu-input-number{
        width: 100%;
      }
      .ivu-form-item-error-tip{
        padding: 0;
        margin-top: 2px;
      }
    }
  }
}

.ivu-collapse > .ivu-collapse-item > .ivu-collapse-header{
  height: 32px;
  line-height: 32px;
  font-weight: 600;
}


#print_style table{border:2px #000 solid;border-collapse: collapse; display: block;}
#print_style th,#print_style td{border: 1px solid #000;}
#print_style .noBorder th,#print_style .noBorder td{border:none;}
#print_style .noRTLBorder th,#print_style .noRTLBorder td{border-right:none;border-top:none;border-left:none;}
#print_style .noRLBorder th,#print_style .noRLBorder td{border-right:none;border-left:none;}
#print_style th,#print_style td {padding: 2px; line-height: 16px; text-align: center; vertical-align: middle;font-size:12px; }
#print_style td{text-align: left;}
#print_style .text-center,#print_style .text-center th,#print_style .text-center td{text-align:center;}
#print_style .text-right,#print_style .text-right th,#print_style .text-right td{text-align:right;}
#print_style .w100{width:100px;}
#print_style .w110{width:110px;}
#print_style .w130{width:130px;}
#print_style .w200{ width:200px;}
#print_style .h30{ height:30px;line-height:25px;}
#print_style .w30{width:30px;}
#print_style .w70{width:70px;}
#print_style .w80{width:80px;}
#print_style .w400{width:700px;}
#print_style .text-left{text-align:left;}
